*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #55ba89 0%, #eb92be 100%);
  color: #fff;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
}

/* HEADER */
h1 {
  text-align: center;
}

.header_title {
  font-size: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.yellow-border {
  border-bottom: 6px #f4e300 solid;
}

/* LEFT SIDE */
.figure {
  padding: 0.7rem;
  margin: auto;
}

.figure_image {
  padding: 1rem;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figure_caption {
  font-size: smaller;
  text-align: center;
}

/* RIGHT SIDE */

.description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  width: 450px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
