*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #55ba89 0%, #eb92be 100%);
  color: #fff;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
}

/* HEADER */
.header_title {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.yellow-border {
  border-bottom: 6px #f4e300 solid;
}

/* LEFT SIDE */
.figure {
  padding: 0.7rem;
  margin: auto;
}

.figure_image {
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
  width: 150px;
  height: 150px;
}

.figure_caption {
  font-size: smaller;
  text-align: center;
}

/* RIGHT SIDE */
.description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  width: 450px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

p:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ul {
  padding-left: 0;
  margin-top: 1rem;
}

.list {
  list-style-type: none;
  display: inline-flex;
}

.link {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.2rem;
  align-items: center;
  margin-right: 1rem;
  padding: 0.4rem;
  display: inline-flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #fff;
  text-decoration: none;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.icon {
  display: block;
  margin-right: 0.5rem;
}

.link:hover,
.link:focus {
  transform: scale(1.2);
}

/* MEDIA QUERIES  */
@media (min-width: 600px) {
  .figure_image {
    width: 300px;
    height: 300px;
  }

@media (min-width: 900px) {
  /* HEADER */
  .header {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
  }

  .header_div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  /* MAIN */
  .main {
    display: flex;
    justify-content: space-between;
  }
  .container-figure {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  /* RIGHT SIDE */
  .section {
    align-items: center;
    display: flex;
    width: 50%;
  }

  .description {
    padding: 0.5rem;
    width: 450px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* LEFT SIDE  */
  .figure {
    margin-left: 0;
    margin-right: 0;
  }
  .figure_image {
    margin-left: 0;
    margin-right: 0;
    width: 450px;
    height: 450px;
  }
}
