*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #55ba89 0%, #eb92be 100%);
  color: #fff;
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
}
